* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


.main-container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    justify-content: center;
    background: white;
    align-items: center;
}

.main-favicon {
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 4px 10px rgba(0, 255, 255, 0.8)); /* 푸른 형광색 그림자 */
    background-color: transparent; /* 투명 배경 */
}

.main-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.login-input-label {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.login-input {
    width: 50vh;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    /*background-color: #e2e2ff;*/
    border: 1px solid #e2e2ff;
    /*border: none;*/
    color: black;
    outline: none;
    transition: 0.5s border ease-in-out;
}

.login-input:focus {
    border: 2px solid rgba(118, 138, 255, 0.8);
}


.login-btn {
    cursor: pointer;
    width: 50vh;
    padding: 15px 25px;
    background-color: #e2e2ff;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
    transition: 0.5s background-color ease-in-out;
}

.login-btn:hover {
    background-color: rgba(118, 138, 255, 0.8);
    font-weight: 700;
}

.register-btn{
    margin-top: 10px;
    cursor: pointer;
    min-width: fit-content;
    height: 50px;
    padding: 0 25px;
    background-color: white;
    color: #e2e2ff;
    border-radius: 10px;
    border: 2px solid #e2e2ff;
    font-weight: 400;
    transition: 0.5s background-color ease-in-out;
}

.register-btn:hover{
    background-color: #e2e2ff;
    color: white;
    font-weight: 700;
}

